<%= form_for(@clinic) do |f| %>
  <% if @clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
      <% @clinic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :fantasy_name, t('fantasy_name') %><br>
    <%= f.text_field :fantasy_name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :corporate_name, t('corporate_name') %><br>
    <%= f.text_field :corporate_name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cnpj, t('cnpj') %><br>
    <%= f.text_field :cnpj, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, t('phone') %><br>
    <%= f.text_field :phone, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :technical_manager, t('technical_manager') %><br>
    <%= f.text_field :technical_manager, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address, t('address') %><br>
    <%= f.text_field :address, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cep, t('cep') %><br>
    <%= f.text_field :cep, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :city, t('city') %><br>
    <%= f.text_field :city, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :province_id, t('province') %><br>
    <%= f.collection_select(:province_id, @provinces.all, :id, :name, 
      {:prompt => 'Estado'}, {:class => 'form-control'})%>
  </div>
  <div class="actions text-right">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
      <% end %>
  </div>
<% end %>
