  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h2><%= t("clinics") %></h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="text-right">
        <h2>
          <%= link_to new_clinic_path, :class => 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus"></span> Adicionar
          <% end %>
        </h2>
      </div>
    </div>
  </div> <!-- /.row -->
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('fantasy_name') %></th>
      <th><%= t('corporate_name') %></th>
      <th><%= t('city') %></th>
      <th><%= t('province') %></th>
    </tr>
  </thead>

  <tbody>
    <% @clinics.each do |clinic| %>
      <tr>
        <td><%= link_to clinic.fantasy_name, clinic %></td>
        <td><%= clinic.corporate_name %></td>
        <td><%= clinic.city %></td>
        <td><%= clinic.province.acronym %></td>
      </tr>
    <% end %>
  </tbody>
</table>
