<h1>Welcome#index</h1>
<hr>
<%= current_user.clinic.fantasy_name %>
<hr>

<hr>
<h3><%= t('hello') %></h3>
<p>Find me in app/views/welcome/index.html.erb</p>
<dl>
  <dt>Number to Currency</dt>
  <dd><%= number_to_currency(123.56) %></dd>

    <dt>Number to Currency personalized in helper</dt>
  <dd><%= my_formatted_number(123.56) %></dd>

  <dt>Number to Human</dt>
  <dd><%= number_to_human(100_555_123.15) %></dd>

  <dt>Date</dt>
  <dd><%=l Time.current, format: :long %></dd>

  <dt>Time</dt>
  <dd><%= distance_of_time_in_words(1.hour + 20.minutes) %></dd>
</dl>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('patient') %></th>
      <th><%= t('clinic') %></th>
      <th><%= t('schedule') %></th>
      <th><%= t('finalized') %></th>
      <th><%= t('missed') %></th>
    </tr>
  </thead>

  <tbody>
    <% @attends.each do |attend| %>
      <tr>
        <td><%= link_to attend.patient.name, attend %></td>
        <td><%= attend.clinic.fantasy_name %></td>
        <td><%=l attend.schedule, format: :short %></td>
        <td><% if attend.finalized == true %>
        <span class="glyphicon glyphicon-ok alert-success"> </span>
        <% end %>
         </td>
        <td><% if attend.missed == true %>
        <span class="glyphicon glyphicon-asterisk alert-danger"> </span>
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= month_calendar events: @attends do |date, attends| %>
  <%= date.day %>

  <% attends.each do |attend| %>
    <div>
      <%= attend.patient.name %> <br>
      <%= attend.clinic.fantasy_name %>
    </div>
  <% end %>
<% end %>
