<%= simple_form_for(@requester) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => t("name") %>
    <%= f.input :register, :label => t("register"), :hint => "Ex: CRO 3628" %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :notes, :label => t("notes") %>
  </div>

  <div class="actions text-right">
      <%= link_to 'Cancelar', :back, :class => 'btn btn-default' %>
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
      <% end %>
  </div>
<% end %>
