  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h2><%= t("requesters") %></h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="text-right">
        <h2>
          <%= link_to new_requester_path, :class => 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus"></span> Adicionar
          <% end %>
        </h2>
      </div>
    </div>
  </div> <!-- /.row -->
  <div class="row">
  <div class="col-lg-12">
    <%= search_form_for @q do |f| %>
      <div class="input-group">
        <%= f.search_field :name_cont, :class => 'form-control', :placeholder => 'Buscar por...' %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', class: "btn btn-default") do %>
            Buscar
          <% end %>
        </span>
      </div><!-- /input-group -->
    <% end %>
  </div><!-- /.col-lg-12 -->
</div> <!-- /.row -->

<%= paginate @requesters,  window: 2 %><br>
        <small><%= page_entries_info @requesters %></small>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, remote: true) %></th>
      <th><%= t("register") %></th>
      <th><%= t("email") %></th>
      <th><%= t("phone") %></th>
    </tr>
  </thead>

  <tbody>
    <% @requesters.each do |requester| %>
      <tr>
        <td><%= link_to requester.name, requester %></td>
        <td><%= h(requester.register) %></td>
        <td><%= requester.email %></td>
        <td><%= requester.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>