<%= simple_form_for(@patient) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#obrigatorio" data-toggle="tab">Principal</a></li>
      <li><a href="#adicionais" data-toggle="tab">Adicionais</a></li>
    </ul>
<br>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="obrigatorio">
      <% comment = "f.association :clinic, :label => t('clinic'), label_method: :fantasy_name, value_method: :id, prompt: t('select')"  %>
      <%= f.input :filial, :label => t('filial') %>
      <%= f.input :name, :label => t('name') %>
      <%= f.input :phone, :label => t('phone') %>
      <%= f.input :phone2, :label => t('phone2') %>
      <%= f.input :gender, :collection => [['M','M'],['F','F']], prompt: t('select'), :label => t('gender') %>
      <%= f.input :cpf, :label => t('cpf') %>
      <%= f.input :rg, :label => t('rg') %>
      <%= f.input :notes, :label => t('notes') %>
      </div>
      <div class="tab-pane fade" id="adicionais">
      <%= f.input :birth_date, :label => t('birth_date'), as: :date_picker %>
      <%= f.input :email, :label => t('email') %>
      <%= f.input :address, :label => t('address') %>
      <%= f.input :cep, :label => t('cep')%>
      <%= f.input :city, :label => t('city')%>
      <%= f.input :province, :collection => [
        ['AC','AC'],
        ['AL','AL'],
        ['AM','AM'],
        ['AP','AP'],
        ['BA','BA'],
        ['CE','CE'],
        ['DF','DF'],
        ['ES','ES'],
        ['GO','GO'],
        ['MA','MA'],
        ['MG','MG'],
        ['MS','MS'],
        ['MT','MT'],
        ['PA','PA'],
        ['PB','PB'],
        ['PE','PE'],
        ['PI','PI'],
        ['PR','PR'],
        ['RJ','RJ'],
        ['RN','RN'],
        ['RO','RO'],
        ['RR','RR'],
        ['RS','RS'],
        ['SC','SC'],
        ['SE','SE'],
        ['SP','SP'],
        ['TO','TO'],
        ['ESTRANGEIRO','ESTRANGEIRO'],
      ], prompt: t('select'), :label => t('province') %>
      <%= f.input :occupation, :label => t('occupation') %>
      <%= f.input :mothers_name, :label => t('mothers_name') %>
      <%= f.input :fathers_name, :label => t('fathers_name') %>
      </div>
    </div>

  </div>

<div class="actions text-right">
      <%= link_to 'Cancelar', :back, :class => 'btn btn-default' %>
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
      <% end %>
  </div>
<% end %>
