  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h2><%= @patient.name %></h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="text-right">
        <h2>
          <%= link_to patients_path, :class => 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-chevron-left"></span> Voltar
          <% end %> 
          <%= link_to edit_patient_path(@patient), :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-list-alt"></span> Editar
          <% end %> 
          <%= link_to patient_path(@patient), method: :delete, :class => 'btn btn-danger', data: { confirm: t('Are you sure?')  } do %>
            <span class="glyphicon glyphicon-remove"></span> Apagar
          <% end %> 
        </h2>
      </div>
    </div>
  </div> <!-- /.row -->
      <div class="panel panel-default">
      <div class="panel-body">
        <p>
          <strong><%= t('filial') %>:</strong>
          <%= @patient.filial %>
        </p>
        <p>
          <strong><%= t('name') %>:</strong>
          <%= @patient.name %>
        </p>

        <p>
          <strong><%= t('cpf') %>:</strong>
          <%= @patient.cpf %>
        </p>

        <p>
          <strong><%= t('rg') %>:</strong>
          <%= @patient.rg %>
        </p>

        <p>
          <strong><%= t('gender') %>:</strong>
          <%= @patient.gender %>
        </p>

        <p>
          <strong><%= t('birth_date') %>:</strong>
          <%=l @patient.birth_date, format: :long %>
        </p>
        <p>
          <strong><%= t('age') %>:</strong>
          <%= time_ago_in_words(@patient.birth_date) %>
        </p>

        <p>
          <strong><%= t('email') %>:</strong>
          <%= @patient.email %>
        </p>

        <p>
          <strong><%= t('address') %>:</strong>
          <%= @patient.address %>
        </p>

        <p>
          <strong><%= t('cep') %>:</strong>
          <%= @patient.cep %>
        </p>
        <p>
          <strong><%= t('city') %>:</strong>
          <%= @patient.city %>
        </p>
        <p>
          <strong><%= t('province') %>:</strong>
          <%= @patient.province.acronym %>
        </p>
        <p>
          <strong><%= t('phone') %>:</strong>
          <%= @patient.phone %>
        </p>

        <p>
          <strong><%= t('phone2') %>:</strong>
          <%= @patient.phone2 %>
        </p>

        <p>
          <strong><%= t('occupation') %>:</strong>
          <%= @patient.occupation %>
        </p>

        <p>
          <strong><%= t('mothers_name') %>:</strong>
          <%= @patient.mothers_name %>
        </p>

        <p>
          <strong><%= t('fathers_name') %>:</strong>
          <%= @patient.fathers_name %>
        </p>

        <p>
          <strong><%= t('notes') %>:</strong>
          <%= @patient.notes %>
        </p>
      </div><!-- /panel-body -->
    </div><!-- /panel -->
<div class="list-group">
  <a href="#" class="list-group-item disabled"><strong>Atendimentos realizados</strong></a>
  <% @patient.attends.each do |attend| %>
  <% lista_exames = '' %>
  <% attend.exam.each do |exame| 
     lista_exames << exame.name + " "
  end %>
  <%= link_to l(attend.schedule, format: '%A, %d de %B de %Y') + ' ' + attend.appointment.strftime("%H:%M") + ' - (' + lista_exames + ') - ' + attend.requester.name + ' - ' + attend.clinic.fantasy_name, attend, class: 'list-group-item' %>
  <% end %>
</div><!-- /.list-group -->
