<h1><%= @patient.name %></h1>
<div class="text-right">
  <%= link_to patients_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Voltar
  <% end %> 
  <%= link_to edit_patient_path(@patient), :class => 'btn btn-success' do %>
    <span class="glyphicon glyphicon-list-alt"></span> Editar
  <% end %> 
  <%= link_to patient_path(@patient), method: :delete, :class => 'btn btn-danger', data: { confirm: t('Are you sure?')  } do %>
    <span class="glyphicon glyphicon-remove"></span> Apagar
  <% end %> 
</div>


<p>
  <strong><%= t('name') %>:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong><%= t('cpf') %>:</strong>
  <%= @patient.cpf %>
</p>

<p>
  <strong><%= t('rg') %>:</strong>
  <%= @patient.rg %>
</p>

<p>
  <strong><%= t('gender') %>:</strong>
  <%= @patient.gender.name %>
</p>

<p>
  <strong><%= t('birth_date') %>:</strong>
  <%=l @patient.birth_date, format: :long %>
</p>
<p>
  <strong><%= t('age') %>:</strong>
  <%= time_ago_in_words(@patient.birth_date) %>
</p>

<p>
  <strong><%= t('email') %>:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong><%= t('address') %>:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong><%= t('cep') %>:</strong>
  <%= @patient.cep %>
</p>

<p>
  <strong><%= t('phone') %>:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong><%= t('phone') %> 2:</strong>
  <%= @patient.phone2 %>
</p>

<p>
  <strong><%= t('occupation') %>:</strong>
  <%= @patient.occupation %>
</p>

<p>
  <strong><%= t('mothers_name') %>:</strong>
  <%= @patient.mothers_name %>
</p>

<p>
  <strong><%= t('fathers_name') %>:</strong>
  <%= @patient.fathers_name %>
</p>

<p>
  <strong><%= t('notes') %>:</strong>
  <%= @patient.notes %>
</p>
