<%= simple_form_for(@exam) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => t('name') %>
    <%= f.input :price, :label =>t('price')%>
  </div>

  <div class="actions text-right">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
      <% end %>
  </div>
<% end %>
