<h1><%= t("exams") %></h1>
<div class="text-right">
  <%= link_to new_exam_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span> Adicionar
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('price') %></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.name, exam %></td>
      </tr>
    <% end %>
  </tbody>
</table>
