<div class="list-group">
	<a href="#" class="list-group-item disabled"><strong><%=l dia_selected, format: :long %></strong></a>
	<%= apontamento("08:00") %>
	<%= apontamento("08:10") %>
	<%= apontamento("08:20") %>
	<%= apontamento("08:30") %>
	<%= apontamento("08:40") %>
	<%= apontamento("08:50") %>
	<%= apontamento("09:00") %>
	<%= apontamento("09:10") %>
	<%= apontamento("09:20") %>
	<%= apontamento("09:30") %>
	<%= apontamento("09:40") %>
	<%= apontamento("09:50") %>
	<%= apontamento("10:00") %>
	<%= apontamento("10:10") %>
	<%= apontamento("10:20") %>
	<%= apontamento("10:30") %>
	<%= apontamento("10:40") %>
	<%= apontamento("10:50") %>
	<%= apontamento("11:00") %>
	<%= apontamento("11:10") %>
	<%= apontamento("11:20") %>
	<%= apontamento("11:30") %>
	<%= apontamento("11:40") %>
	<%= apontamento("11:50") %>
</div><!-- /.list-group -->