<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h2>Gerar etiquetas</h2>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="text-right">
      <h2>
      <%= link_to :back, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-chevron-left"></span> Voltar</span>
      <% end %>
      </h2>
    </div>
  </div>
</div> <!-- /.row -->
<%= form_tag('/print', method: 'get') do |f| %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('attend') %></th>
    </tr>
  </thead>

  <tbody>
    <% @attends.each do |attend, index| %>
      <tr>
        <td>
          <%= check_box_tag :attend_ids,
                             attend.id,
                             false, # initial state: checked or unchecked
                             {name: 'attend[attend_ids][]'}
          %>
          <%= attend.schedule.strftime("%d/%m/%Y") %> -
          <%= attend.patient.name %>
            <% attend.exam.each do |exame| %>
              <span class="badge"><%= exame.name %></span>
            <% end %>
          <br>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div><%= submit_tag 'Gerar conjunto' %></div>
<% end -%>
