  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h2><%= t("attends") %></h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="text-right">
        <h2>
          <%= current_user.clinic.fantasy_name %>
        </h2>
      </div>
    </div>
  </div><!-- /.row -->


    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#semanal" aria-controls="semanal" role="tab" data-toggle="tab">Semanal</a></li>
      <li role="presentation" class="active"><a href="#diario" aria-controls="diario" role="tab" data-toggle="tab">Diário</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="semanal">
        <div id="semanal_calendar">
          <%= render partial: "calendar_semanal", locals: {attends: @attends_todos} %>
        </div><!-- /semanal_calendar -->
      </div><!-- /semanal -->
      <div role="tabpanel" class="tab-pane active" id="diario">
        <div class="row">
          <div class="col-sm-6 col-xd-6">
            <div id="events_calendar">
              <%= render partial: "calendar_mensal", locals: {attends: @attends_todos} %>
            </div><!-- /events_calendar -->
          </div><!-- /col -->
          <div class="col-sm-6 col-xd-6">
            <div id="lista-horarios">
              <%= render partial: "listagem", locals: {attends: @attends} %>
            </div><!-- /lista-horarios -->
          </div><!-- /col -->
        </div><!-- /row -->   
      </div><!-- /tabpanel -->
    </div><!-- /tab-content -->

<div class="modal fade" id="attend-modal"></div>


