  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h2><%= t('New') %> <%= t('attend') %> <small><%= l(@attend.schedule, format: '%A, %d de %B') %> - <%= @attend.appointment.strftime("%H:%M") %></small></h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="text-right">
        <h2>
          <%= link_to attends_path, :class => 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-chevron-left"></span> Voltar
          <% end %> 
        </h2>
      </div>
    </div>
  </div> <!-- /.row -->
  <div class="panel panel-default">
    <div class="panel-body">
      <span>Nome Completo: </span><span id="attend_patient_name" class="panel-patient"></span><br>
      <span>CPF: </span><span id="attend_patient_cpf" class="panel-patient"></span><br>
      <span>Endereço: </span><span id="attend_patient_endereco" class="panel-patient"></span><br>
      <span>Cidade/UF: </span><span id="attend_patient_cidade" class="panel-patient"></span><br>
      <span>Nascimento: </span><span id="attend_patient_nascimento" class="panel-patient"></span><br>
    </div><!-- /panel-body -->
  </div><!-- /panel -->
  <div id="formulario" >
    <%= render partial: "form" %>
  </div><!-- /form-->
