  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h2>Agendamento <small><%= l(@attend.schedule, format: '%A, %d de %B') %> - <%= @attend.appointment.strftime("%H:%M") %></small></h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="text-right">
        <h2>
        <%= link_to 'Voltar', :back, :class => 'btn btn-primary' %>
  <!-- dropdown imprimir -->
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="glyphicon glyphicon-print"></span> Imprimir <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Folha de rosto</a></li>
      <li><a href="#">Etiqueta</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <!-- /dropdown imprimir -->
  <%= link_to edit_attend_path(@attend), :class => 'btn btn-success' do %>
    <span class="glyphicon glyphicon-list-alt"></span> Editar
  <% end %> 
  <%= link_to attend_path(@attend), method: :delete, :class => 'btn btn-danger', data: { confirm: t('Are you sure?')  } do %>
    <span class="glyphicon glyphicon-remove"></span> Apagar
  <% end %> 
        </h2>
      </div>
    </div>
  </div> <!-- /.row -->

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <strong><%= t('clinic') %>:</strong>
      <%= @attend.clinic.fantasy_name %> <strong><%= t('finalized') %>:</strong> <%= human_boolean(@attend.finalized) %>
    </p>
    <p>
      <strong><%= t('schedule') %>:</strong>
      <%=l @attend.schedule, format: :long %>
      <strong><%= t('appointment') %>:</strong>
      <%= @attend.appointment.strftime("%H:%M") %>
    </p>   
    <p>
      <strong><%= t('patient') %>:</strong>
      <%= @attend.patient.name %> - <strong><%= t('gender') %>:</strong> <%= @attend.patient.gender %> <%= link_to '[Atualizar cadastro]', edit_patient_path(@attend.patient) %>
    </p>
    <p>
      <strong><%= t('birth_date') %>:</strong>
      <%= @attend.patient.birth_date.strftime("%d/%m/%Y") %>
      <strong><%= t('age') %>:</strong>
      <%= @attend.age %>
    </p>       
    <p>
      <strong><%= t('rg') %>:</strong>
      <%= @attend.patient.rg %> <strong><%= t('cpf') %>:</strong>
      <%= @attend.patient.cpf %>
    </p>                   
    <p>
      <strong><%= t('address') %>:</strong>
      <%= @attend.patient.address %> <%= @attend.patient.city %> <%= @attend.patient.province.acronym %>
    </p>          
    <p>
      <strong><%= t('email') %>:</strong>
      <%= @attend.patient.email %>
    </p>            
  
    <p>
      <strong><%= t('phone') %>:</strong>
      <%= @attend.patient.phone %> | <%= @attend.patient.phone2 %>
    </p>
    <p>
      <strong><%= t('exams') %>:</strong>
      <ul>
      <% @attend.exam.each do |exame| %>
        <li><%= exame.name %></li>
      <% end %>
      </ul>
    </p>
    <p>
      <strong><%= t('requester') %>:</strong>
      <%= @attend.requester.name %>
    </p>
    <p>
      <strong><%= t('notes') %>:</strong>
      <%= @attend.notes %>
    </p>
  </div>
</div><!-- /panel -->
