		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="menu">
			<ul class="nav navbar-nav">
				<li class="<%= active?('attends')%>"><%= link_to "AGENDA", attends_path %></li>
				<li class="<%= active?('clinics')%>"><%= link_to "CLÃNICAS", clinics_path %></li>
				<li class="<%= active?('dentists')%>"><%= link_to "DENTISTAS", dentists_path %></li>
				<li class="<%= active?('exams')%>"><%= link_to "EXAMES", exams_path %></li>				
				<li class="<%= active?('patients')%>"><%= link_to "PACIENTES", patients_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
		        <li>
			        <% @user = User.find(current_user) %>
					<%= simple_form_for(@user, :html=> { class: 'navbar-form' }) do |f| %>
					    <div class="form-group">
					  <%= f.association :clinic, :input_html => {:onchange => '$(this.form).submit();', :class => 'form-control' }, :label => false, label_method: :fantasy_name, value_method: :id, prompt: t('select') %>
					  </div>
					<% end %>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
		          <ul class="dropdown-menu">
		            <li><%= link_to edit_user_registration_path do %><span class="glyphicon glyphicon-user"></span> <%= current_user.email %><% end %></li>
		            <li><%= link_to welcome_index_path do %><span class="glyphicon glyphicon-info-sign"></span> Info<% end %></li>
		            <li role="separator" class="divider"></li>
		            <li><%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Sair <% end %></li>
		          </ul>
		        </li>
		    </ul>
		</div><!-- /.navbar-collapse -->