<!DOCTYPE html>
<html>
<head>
  <title>RADIODON</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'application/favicon' %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
		    <%= link_to root_path, :class => 'navbar-brand' do %>
		    	RADIODON
		    <% end %>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="menu">
			<ul class="nav navbar-nav">
				<li class="<%= active?('welcome')%>"><%= link_to "Home", root_path %></li>
				<li class="<%= active?('clinics')%>"><%= link_to "Clinicas", clinics_path %></li>
				<li class="<%= active?('dentists')%>"><%= link_to "Dentistas", dentists_path %></li>
				<li class="<%= active?('patients')%>"><%= link_to "Pacientes", patients_path %></li>
				<li class="<%= active?('exams')%>"><%= link_to "Exames", exams_path %></li>
				<li class="<%= active?('attends')%>"><%= link_to "Atendimento", attends_path %></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
		        <li><%= link_to current_user.clinic.fantasy_name, edit_user_registration_path %></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		          </ul>
		        </li>
		    </ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>

<!-- Flash messages -->
<% flash.each do |type, message| %>
	<div class="container">
	  <div class="alert <%= bootstrap_class_for(type) %> alert-dismissible fade in" role="alert">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <%= message %>
	  </div>
	</div><!-- /container -->  
<% end %>



<div class="container">
<%= yield %>
</div>

<hr>
  <% if user_signed_in? %>
    <%= link_to edit_user_registration_path do %><span class="glyphicon glyphicon-user"></span> <%= current_user.email %><% end %>
    <br>
    <%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Sair <% end %>
  <% else %>
    <%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-user"></span> Cadastrar-se<% end %>
    <br>
    <%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-in"></span> Login <% end %>
  <% end %>
</body>
</html>
