<h1><%= t("dentists") %></h1>
<div class="text-right">
  <%= link_to new_dentist_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span> Adicionar
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("register") %></th>
      <th><%= t("email") %></th>
      <th><%= t("phone") %></th>
    </tr>
  </thead>

  <tbody>
    <% @dentists.each do |dentist| %>
      <tr>
        <td><%= link_to dentist.name, dentist %></td>
        <td><%= dentist.register %></td>
        <td><%= dentist.email %></td>
        <td><%= dentist.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>