<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dentist.name %>
</p>

<p>
  <strong>Register:</strong>
  <%= @dentist.register %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dentist.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @dentist.phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @dentist.notes %>
</p>

<%= link_to 'Edit', edit_dentist_path(@dentist) %> |
<%= link_to 'Back', dentists_path %>
